<p id="notice"><%= notice %></p>

<p>
  <strong>Departure address:</strong>
  <%= @route.departure_address %>
</p>

<p>
  <strong>Arrival address:</strong>
  <%= @route.arrival_address %>
</p>

<p>
  <strong>Departure lat:</strong>
  <%= @route.departure_lat %>
</p>

<p>
  <strong>Departure lng:</strong>
  <%= @route.departure_lng %>
</p>

<p>
  <strong>Arrival lat:</strong>
  <%= @route.arrival_lat %>
</p>

<p>
  <strong>Arrival lng:</strong>
  <%= @route.arrival_lng %>
</p>

<p>
  <strong>Departure distance range:</strong>
  <%= @route.departure_distance_range %>
</p>

<p>
  <strong>Arrival distance range:</strong>
  <%= @route.arrival_distance_range %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @route.start_time %>
</p>

<p>
  <strong>Time range from:</strong>
  <%= @route.time_range_from %>
</p>

<p>
  <strong>Time range to:</strong>
  <%= @route.time_range_to %>
</p>

<p>
  <strong>Active:</strong>
  <%= @route.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @route.user_id %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
