<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure_address %><br>
    <%= f.text_field :departure_address %>
  </div>
  <div class="field">
    <%= f.label :arrival_address %><br>
    <%= f.text_field :arrival_address %>
  <div class="field">
    <%= f.label :departure_datetime %><br>
    <%= f.datetime_select :departure_datetime %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.number_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :available_seats %><br>
    <%= f.number_field :available_seats %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
