<%= form_for(@ride, html: { class: 'form'}) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :driver_id %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :departure_address, 'Departure' %><br>
        <%= f.text_field :departure_address, class: 'form-control', placeholder: 'From which address you depart?', autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :arrival_address, 'Arrival' %><br>
        <%= f.text_field :arrival_address, class: 'form-control', placeholder: 'From which address you arrive?' %>
      </div>
      <div class="form-group">
        <%= f.label :departure_datetime, 'Date' %><br>
        <%= f.datetime_select :departure_datetime, class: 'form-control', placeholder: 'What date and time you depart?' %>
      </div>

      <div class="form-group">
        <%= f.label :available_seats %><br>
        <%= f.number_field :available_seats, class: 'form-control', placeholder: 'How many seats you have available?' %>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div><!-- end of row-->
  <div class="form-group row">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, class: 'form-control', placeholder: 'Want to tell us more?' %>
  </div><!-- end of row-->
  <div class="actions col-sm-12">
    <%= f.submit 'Save route', class: "btn btn-grey" %>
  </div>
<% end %>
